@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #19181F;
  color: #fff;
  font-size: 16px;
}

input {
  height: 60px;
  border: 1px solid #E4E4E4;
  color: #fff;
  /*border-bottom: 1px solid lightgrey;*/
  /*box-shadow: inset 0px 0px 5px 0px #d5d5d5;*/
  border-radius: 16px;
  background-color: transparent;
  /*background: linear-gradient(10deg, #ffffff, #c5c5c5);*/
  font-size: 16px;
}

input:focus {
  outline: none;
  /*box-shadow: inset 0px 0px 5px 0px #d5d5d5;*/
}

.App {
  height: 100vh;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}