
.container
  display: flex
  flex-direction: column
  align-items: center

.text
  text-align: center
  margin: 10px

.input
  min-width: 360px
  margin: 10px
  //padding: 10px 15px 10px 15px
  text-align: center
  letter-spacing: 4px


.link
  text-decoration: none
  color: black
  margin: 10px

.seed
  margin: 10px 0px 40px 0px
  text-align: center


.btnBig
  width: 120px
  height: 60px
  //border: 1px solid grey
  border-radius: 16px
  padding: 0px 50px 0px 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #51B6BC
  font-weight: 500
  color: #fff
//box-shadow: 0px 2px 5px 0px #ececec

.btnBig:hover
  //border: 1px solid black
  box-shadow: 0px 0px 5px 0px #51B6BC