
.container
  display: flex
  flex-direction: column
  align-items: center

.m10
  margin: 10px

.m20
  margin: 20px

.m30
  margin: 30px

.link
  text-decoration: none
  color: black
  margin: 10px


.input
  margin: 10px
  //padding: 10px 15px 10px 15px
  text-align: center
  //letter-spacing: 4px


.seed
  max-width: 600px
  margin: 10px 0px 10px 0px
  padding: 50px 30px 50px 30px
  text-align: center
  word-wrap: break-word
  cursor: pointer
  background-color: #28272E
  border-radius: 16px
  font-size: 17px
  font-weight: 500



.text
  text-align: center

.btnBig
  width: 120px
  height: 60px
  border-radius: 16px
  padding: 0px 50px 0px 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #51B6BC
  font-weight: 500
  color: #fff
  cursor: pointer

.btnBig:hover
  box-shadow: 0px 0px 8px 0px #51B6BC
