
.container
  display: flex
  flex-direction: column
  align-items: center

.m10
  margin: 10px

.m20
  margin: 20px

.m30
  margin: 30px

.link
  text-decoration: none
  color: black
  margin: 10px


.input
  min-width: 380px
  margin: 10px
  padding: 0px 15px 0px 15px
  text-align: center
  font-family: 'Ubuntu', sans-serif


.seed
  max-width: 600px
  margin: 10px 0px 10px 0px
  text-align: center
  word-wrap: break-word


.text
  text-align: center

.btnBig
  margin: 10px
  width: 120px
  height: 60px
  border-radius: 16px
  padding: 0px 50px 0px 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #51B6BC
  font-weight: 500
  color: #fff
  cursor: pointer

.btnBig:hover
  box-shadow: 0px 0px 8px 0px #51B6BC

.btn
  width: 150px
  height: 40px
  border-radius: 16px
  padding: 0px 10px 0px 10px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #fff
  border: 1px solid #fff
  font-weight: 500
  color: #000
  cursor: pointer

.btn:hover
  box-shadow: 0px 0px 8px 0px #fff

.tx
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  align-items: center
  border-radius: 10px
  margin-top: 20px
  padding: 10px


.txValueIn
  margin-left: 15px
  margin-right: 15px
  color: #51B6BC


.txValueOut
  margin-left: 15px
  margin-right: 15px
  color: #EA7B7B


.txValueCount
  font-size: 22px

.tableHeader
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid lightgrey
  margin: 10px
  padding: 10px

.balance
  font-weight: 500
  font-size: 56px

.balanceCurrency
  font-weight: 500
  font-size: 40px